.containerErr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 44px 0px;
    color: gray;
}
.white{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 44px 0px;
}

.WrapperErr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.emojiErr{
    font-size: 90px;
}
