/* CSS for HomeLoves component */

.homelv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* margin: 10px; */
}
  
.homelvWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    padding: 10px;
}

.homelvWrapper>h1{
    display: flex;
    font-size: 18px;
    margin-top: 50px;
    font-weight: normal;
    margin-bottom: 10px;
    color: rgb(47, 47, 47);
    padding:0px 20px;
}

.homelvWrapper>h2{
    display: flex;
    padding:0px 20px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: 13px;
    /* font-size: 13px; */
}

.homelvWrapper>h2>span>b{
    color: rgb(25, 79, 255);
}

.carts{
    display:grid;
    place-items: center;
    grid-template-columns:repeat(3,1fr);
    row-gap: 20px;
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
}

.homeCart{
    border: 0.1px solid rgba(128, 128, 128, 0.241);
    border-radius: 10px 10px 10px 10px;
    
}
  
.homeCart img{
    border-radius: 10px 10px 0px 0px;
    width: 320px;
    height: 300px;
    object-fit: cover;
}

.bottomCart{
    width: 300px;
    height: 280px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding:5px 10px; 

}

.bottomDesc{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3; /* Number of lines to show */
        font-size: 13px;
        line-height: 16px;
        font-weight: 200;
        font-family:Arial, Helvetica, sans-serif;
}

.bottomInfo{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.bottomtitle{
    font-size: 18px;
    font-weight: bold;
}

.bottomCity{
    font-size: 16px;
    font-weight: 200;
}

.bottomRating{
    display: flex;
    gap: 10px;
    align-items: center;
}

.buttonRating{
    background-color: rgb(11, 26, 232);
    color: white;
    padding: 3px 9px;
    border-radius: 4px 4px 4px 0px;
    font-size: 17px;
    font-weight: bold;
}

.bottomItems{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.bottomButton{
    background-color: transparent;
    border: 1px solid rgb(0, 123, 255);
    color: rgb(0, 94, 255);
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    align-items: end;
    width: 100%;
    cursor: pointer;
}
.bottomButton:hover{
    background-color: rgb(0, 94, 255);
    color: white;
}


.bottomSee{
    display: flex;
    flex-direction: column;

}

.seeMore{
    color: rgb(0, 60, 255);
    text-decoration:underline;
    font-size: 13px;
    margin-bottom: 33px;
    cursor: pointer;
}

.homeType{
    text-align: start;
    color: gray;
    font-size: 18px;

}


.loadingHome{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px ;
    font-size: 40px;
    color: gray;
    gap: 10px;
}


.cercelHome{
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 50%;
}

.first{
    animation: cercle1 ease .5s infinite alternate;
    animation-delay: .1s; /* Adjust the delay for the first animation */

}

.second{
    animation: cercle2 ease .5s infinite alternate;
    animation-delay: .2s; /* Adjust the delay for the first animation */

}

.third{
    animation: cercle3 ease .5s infinite alternate;
    animation-delay: .3s; /* Adjust the delay for the first animation */

}


@keyframes cercle1 {
    to{transform:  translate(0px,-10px)}
}

@keyframes cercle2 {
    to{transform:  translate(0px,-10px)}
}

@keyframes cercle3 {
    to{transform:  translate(0px,-10px) }
}